<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MailAddress" value="tourzy.thongbao@gmail.com"/>
		<add key="MailDisplayName" value="TOURZY"/>
		<add key="MailPassword" value="fcgt qmsl ofod syfa"/>
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
	</appSettings>
</configuration>
